@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

/*test*/
/*Header*/

header{
    text-align: center;
    font-family: 'Work Sans', sans-serif;
}

header h1{
    font-size: 3rem;
    margin: 2rem 0;
}

header h2{
    font-size: 2.5rem;
    margin: 2rem 0;

}

header p{
    width: 50rem;
    margin: 2rem auto;
    font-size: 1.3rem;
}

/*Main*/
main section {
    margin: 0 25rem;
    background-color: rgb(142, 240, 240);
    border-radius: 1rem;
}

main section img {
    width: 80%;
    height: 30%;
}

main section ol img:nth-of-type(1){
    border-radius: 2rem;
}

main section ol{
    text-align: center;
}

main section ol li{
    font-size: 1.5rem;
    list-style: none;
    padding: 2rem 0 2rem 0;
    border: 2px solid;
}


main section ol li span{
    background-color: rgb(199, 199, 199);
}
main section ol li:hover + img{
    display: inline-block;
}
main section ol img{
    display: none;
}
